.banner{
    height: 300px;
    background-color: red;
}

.carousel{
    height: 300px;
    background-color: orange;
}

/* Tối đa, dưới tối đa là hợp lệ */
@media screen and (max-width: 1200px) {
    .banner{
        background-color: black;
    }
}
@media screen and (max-width: 992px) {
    .banner{
        background-color: blue;
    }
}

/* min-width: trên tối đa là hợp lệ*/ 
@media screen and (min-width: 768px) {
    .carousel{
        background-color: forestgreen;
    }
}

@media screen and (min-width: 992px) {
    .carousel{
        background-color: purple;
    }
}


